.contact {
	&__description {
		color: #2C4755;
		margin-bottom: 15px;
		font-size: 55px;
		font-weight: bold;
	}
	&__e-mail {
		color: #10CAB7;
		font-size: 50px;
		font-weight: bold;
		padding-left: 15px;
	}
	&__icons{
		padding-top: 20px;
		text-align: center;

		&_item{
			color: #2C4755;
			padding-left: 15px;
		}
	}
}

@media (max-width: 576px){
	.contact__e-mail {
		font-size: 20px;
	}
	.contact__icons_item {
		padding-left: 5px;
	}
}