#menu {
	display: none;
}

.menu{
	&__list_item {
		display: block;
		color: #fff;
		text-decoration: none;

		&:hover {
			color:#10CAB7;
		}
	}
	&__icon{
		color: #fff;
		padding-left: 0px;
	}
}

.main-menu__menu {
	background-color: #2C4755;
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	height: 100%;
	display:none;
}

@media (max-width: 576px) {
	input[id = "menu"]:checked ~ .main-menu__menu {
		display: block;
	}
}