.services{
  display: flex;
  flex-wrap: wrap;

  &__col {
    display: flex;
    flex-wrap: wrap;

    &__wrapper{
      display: flex;
    }
    &__thumb {
      margin-right: 50px;

    }
    &__text__description {
      padding-bottom: 40px;
      line-height: 30px;
    }
    &__thumb--relative {
      position: relative;
    }
    &__square-grey {
      position: absolute;
      z-index: -1;
      top: -10%;
      left: 230px;
    }
  }
}