.heading {
  width: 100%;
  position: relative;
}

.heading__l-word {
  text-align: center;
  color: #f6f6f6;
  font-size: 150px;
  margin-bottom: 15px;
  font-weight: bold;
}

.heading__sm-word {
  font-size: 18px;
  position: absolute;
  top: 65%;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  z-index: 1;
}

@media (max-width: 768px) {
  .hello__heading, .contact__description {
    font-size: 40px;
  }
  .heading__l-word {
    font-size: 85px;
  }
  .heading__sm-word {
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .hello__heading, .contact__description {
    font-size: 30px;
  }
  .heading__l-word {
    font-size: 65px;
  }
  .heading__sm-word {
    font-size: 10px;
    text-align: center;
  }
}
