.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__col_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__col_thumb {
  margin-right: 50px;
}

.services__col_text_description {
  padding-bottom: 40px;
  line-height: 30px;
}

.services__col-thumb {
  position: relative;
}

.services__col_square-grey {
  position: absolute;
  z-index: -1;
  top: -10%;
  left: 230px;
}