.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.task__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.task__col_thumb {
  padding: 50px;
}

.task__col_description {
  padding: 35px 50px 60px 50px;
}

.shadow {
  -webkit-box-shadow: 9px 10px 22px -16px;
  box-shadow: 9px 10px 22px -16px;
}
