-var text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui"
.about.content
    img.about__thumb.w50(src="img/about-thumb.png")
    .about__description.w-50
        p.about__description__text--bold=text
        img.about__description__underline(src="img/underline.png")
        p.about__description__text=text
