.contact.content
    .contact__description Feel free to drop us a line at:
    a.contact__e-mail(href="mailto:test@test.com") leonagency@mail.com
    .contact__icons.w-33
        span Find us on social networks:
        a(href="#")
            i.fas.fa-basketball-ball.contact__icons_item
        a(href="#")
            i.fab.fa-google-plus-g.contact__icons_item
        a(href="#")
            i.fab.fa-twitter.contact__icons_item