block variables
doctype html
html
    head
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="./css/layout.css")
        link(rel="stylesheet" type="text/css" href="./css/header.css")
        link(rel="stylesheet" type="text/css" href="./css/main-menu.css")
        link(rel="stylesheet" type="text/css" href="./css/footer.css")
        link(rel="stylesheet" type="text/css" href="./fonts/all.css")
        block css
    body
        include header
        include main-menu
        block content
        block footer
            include footer
