- var text="My creative ability is very difficult to measure because it can manifest in so many surprising and."
    .portfolio.content
        -for(var i=0; i<3; i++)
            .portfolio__col.w-33
               img.portfolio__col_thumb(src="img/portfolio-thumb.png")
               h4.portfolio__col_heading Project Here
               p.portfolio__col_description=text

