.content.services
    .services__col.w-33
        .services__col__wrapper
            .services__col__thumb
                img(src="img/print.png")
            .services__col__text
               h4.services__col__text__heading  Graphic Design
               p.services__col__text__description Graphic design is the process of visual
                   |communication and problem-solving
                   |using one or more of typography,
                   |photography and illustration.
        .services__col__wrapper
            .services__col__thumb
                img(src="img/dialog.png")
            .services__col_text
                h4.services__col__text__heading  UI & UX
                p.services__col__text__description Process of enhancing user satisfaction
                    |with a product by improving the
                    |usability, accessibility, and pleasure
                    |provided in the interaction.
    .services__col.w-33
        .services__col__wrapper
            .services__col__thumb
                img(src="img/window.png")
            .services__col__text
                h4.services__col__text__heading  Web Design
                p.services__col__text__description Web design encompasses many different
                    |skills and disciplines in the production
                    |and maintenance of websites.
        .services__col__wrapper
            .services__col__thumb
                img(src="img/screen.png")
            .services__col__text
                h4.services__col__text__heading  Web Development
                p.services__col__text__description Web development is a broad term for
                    |the work involved in developing a web site
                    |for the Internet or an intranet.
    .services__col__thumb--relative.w-33
        img.services__col__square-white(src="img/square1.png")
        img.services__col__square-grey(src="img/square2.png")