-var text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab"

.content.task
    .task__col.w-33
        img.task__col_thumb(src="./img/lamp.png")
        h4.task__col_heading Tell Us Your Idea
        p.task__col_description=text
    .task__col.w-33.shadow
        img.task__col_thumb(src="./img/chem.png")
        h4.task__col_heading Tell Us Your Idea
        p.task__col_description=text
    .task__col.w-33
        img.task__col_thumb(src="./img/earth.png")
        h4.task__col_heading Tell Us Your Idea
        p.task__col_description=text